<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<a href="/anonuser">Click here for top news stories</a>
<a href="/addtopic">Click here to add what interests you</a>
<a href="/newspertopic">Click here to see news per topic selected in your profile</a>

<p>when first time logged in user should be directed to their own page where they see list of news based on their profile</p>
<p>And the same page contains navbar that they can add categiies of news remove from the categories of news and that redirect can be made in security</p>


</body>
</html>