<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<a href="/register">Register</a>
<a href="/login">login to Get customized news</a>





<table class="table">
    <thead>
    <tr>

        <th scope="col">News Title</th>
        <th scope="col">News Description</th>
        <th scope="col">News Url</th>
    </tr>
    </thead>
    <tbody>
    <tr  th:each="toparticle : ${topheadlines}">

        <td th:text="${toparticle.title}"></td>
        <td th:text="${toparticle.description}"></td>
        <td th:inline="text"> <a th:href="${toparticle.url}"  target="_blank">[[${toparticle.url}]] </a></td>

    </tr>

    </tbody>
</table>


</body>
</html>