<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<!--<ul type="none" th:each="topheadline : ${topheadlines}">-->
 <!--<li th:each="article :${topheadline.getArticles()}">-->
     <!--<p th:text="${article.title}"></p>-->

 <!--</li>-->
<!--</ul>-->


<ul type="none" th:each="publishers : ${newsPublishers}">
    <li th:each="source :${publishers.getSources()}">

        <p th:text="${source.category}"></p>
    </li>
</ul>

</body>
</html>