<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<a href="/anonuser">Click here for top news stories</a>
<a href="/addtoprofile">Click here to add what interests you</a>
<a href="/newspertopic">Click here to see news per topic selected in your profile</a>




<table class="table">
    <thead>
    <tr>

        <th scope="col">Category Name</th>
        <th scope="col">Click here to remove Category</th>
    </tr>
    </thead>
    <tbody>
    <tr  th:each="category : ${catForUser}">

        <td th:text="${category.category}"></td>
        <td th:inline="text"><a th:inline="text" th:href="@{/removecategory/{id}(id=${category.id})}">[[${category.category}]]</a></td>

    </tr>

    </tbody>
</table>


<table class="table">
    <thead>
    <tr>

        <th scope="col">Category Selected</th>
        <th scope="col">Url to The news</th>
        <th scope="col">Detail  of  The news</th>

    </tr>
    </thead>
    <tbody>
    <tr  th:each="source : ${sourceMacthingProfile}">

        <td th:text="${source.category}"></td>
        <td th:inline="text"> <a th:href="${source.url}"  target="_blank">[[${source.url}]] </a></td>
        <td th:text="${source.description}"></td>


    </tr>

    </tbody>
</table>


</body>
</html>