<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>




<!--<ul type="none" th:each="source : ${sourceMacthingProfile}">-->

    <!--<li th:text="${source.url}"></li>-->
    <!--&lt;!&ndash;<li th:text="${source.getCategory()}">&ndash;&gt;-->

       <!--&lt;!&ndash;<li th:text="${source.url}"></li>&ndash;&gt;-->

    <!--&lt;!&ndash;</li>&ndash;&gt;-->
<!--</ul>-->

<table class="table">
    <thead>
    <tr>

        <th scope="col">Category Selected</th>
        <th scope="col">Url to The news</th>
    </tr>
    </thead>
    <tbody>
    <tr  th:each="source : ${sourceMacthingProfile}">

        <td th:text="${source.category}"></td>
        <td> <a th:href="${source.url}">Source </a></td>

    </tr>

    </tbody>
</table>


    <p>users will see news details for each of the profile category selected , basically pass for each category news .. the news selected</p>
</body>
</html>